<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <script src="/js/theme.js"></script>
  <link id="theme" rel="stylesheet" href="/css/styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b7996e7394.js" crossorigin="anonymous"></script>
  <script src="/js/ckeditor/ckeditor.js"></script>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand"><a href="/">THE DAILY JOURNAL</a></p>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <!-- <li id="home"><a href="/">HOME</a></li> -->
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
          <li><a href='#' id="theme-toggle">DARK MODE</a></li>
          <% if (authenticated) { %>
                <li id='profile'><a href="/profile" role='button'>PROFILE</a></li>
                <li id='compose'><a href="/compose">POST</a></li>
                <li id='logout'>
                    <a href="/logout" role="button">LOGOUT</a>
                </li>
          <% } else { %>
              <li id='register'><a href="/register" role="button">REGISTER</a></li>
              <li id='login'><a href="/login" role="button">LOGIN</a></li>
          <% }%>
        </ul>
    </div>
    </div>
  </nav>

  <body>
    <div class="container body">
