<%- include('partials/header') -%>
<h1>Contact</h1>

<br>
<p>For any kind of queries or feedback, please feel free drop in a mail at <a href='mailto:thenamanagarwal@gmail.com?subject=User%20feedback%20-%20The%20Daily%20Journal'>thenamanagarwal@gmail.com</a>.</p>
<p>I will get in touch with you ASAP.</p>
<p><em>Naman.</em></p>

<br>
<p>You can also check out my <a href='https://www.linkedin.com/in/naman-agarwal-650a44121/'>LinkedIn</a> and <a href='https://github.com/VicodinAbuser'>GitHub</a> profiles and follow me there if you like my work.</p>

<%- include('partials/footer') -%>
